body {
	background-image: url("../img/grocerylane.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	background-attachment: fixed;
	background-color: gray;
	width: 100%;
    height: auto;
}


#titlebar {
	text-align: center;
	margin-top: 60px;
}

#titlebar h1 {
	color: #0d47a1;
	font-size: 50px;
	font-family: Helvitica;
}

#add-item {
	margin-left: 40%;
	margin-right: 40%;
	text-align: center;
}

#buttons {
	width: 180px;
	height: 30px;
	margin: auto;
}

#submit-button {
	margin-right: 10px;
}

#clear-button {
	margin-left: 10px;
}



#shopping-list {
	width: 200px;
	height: auto;
	margin: auto;
	text-align: center;
}

li {
	list-style: decimal;
	font-size: 25px;
	font-weight: 700;
	color: #0d47a1;
	
}