body {
	background-image: url("../img/grocerylane.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	background-attachment: fixed;
	background-color: gray;
	width: 100%;
    height: auto;
    font-family: 'Raleway', sans-serif;
}

#wrapper {
	width: 100%;
	margin: auto;
}


#titlebar {
	text-align: center;
	margin-top: 60px;
}

#titlebar h1 {
	color: #0d47a1;
	font-size: 50px;
	font-family: Helvitica;
}

form {
	width: 500px;
	margin: auto;
}

label {
	margin-left: 15%;
}

input {
	margin: auto;
	
}

button {
	width: 120px;
	height: 30px;
	margin-left: 15%;
}

#submitButton {
	margin-right: 10px;
}

#clearButton {
	margin-left: 10px;
}



.itemsList {
	width: 200px;
	height: auto;
	margin: auto;
	text-align: center;
}

li {
	list-style: decimal;
	font-size: 25px;
	font-weight: 700;
	color: #0d47a1;
	
}

.fa-check {
	font-size: 30px;
}